{% extends 'main.html' %}

{% block content %}
<div class="content-wrapper">
    <div class="card">
        <div class="card-header">
            <h5 class="">products:</h5>
        </div>
        <!-- /.card-header -->
        <div class="card-body">

            <table id="example1" class="table table-bordered table-striped">
                <thead class="thead-dark">
                <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Wight</th>
                <th>Created at</th>
                <th>Updated at</th>
            </tr>
                </thead>
                <tbody>
                {% for product in products %}
                    <tr>
                        <th>{{product.name}}</th>
                        <th>{{product.price}}$</th>
                        <th>{{product.weight}}</th>
                        <th>{{product.created_at}}</th>
                        <th>{{product.updated_at}}</th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

 {% endblock %}
